body {
    background-color: #f2f6f9;
}

header {
    width: 100%;
    height: 64px;
    background-color: #19afa4;
}

.logo {
    margin-left: 50px;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.list_title {
    font-weight: bold;
}

.date_text {
    float: right;
    transform: translateY(20px);
}